<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Rusella_Schools/ujian/
    
    # Biar index.php bisa diakses normal
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # Nonaktifin directory listing
    Options -Indexes
</IfModule>
